<!DOCTYPE html>
<html>
	<head>
		<h1>Genes<h1>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
		</script>

	</head>
	<script type ="text/javascript">
	function showGenes(){



	
}
	</script>

<body bgcolor="#D8D8D8">

{% for x in genes: %}
	<code><a href="{{x}}">{{x}}</a></code>
{% endfor %}
</body>

</html>